body {
    background: linear-gradient(to top left, #66ffff 0%, #ff99ff 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    text-align: center;
    opacity: .95;
    color: #333;
}

header {
    background: linear-gradient(to right, #cc66ff 0%, #ccffff 100%);
    text-align: center;
    padding: 20px 0;
    color: Purple;
    text-transform: uppercase;
    border-bottom: 5px solid BlueViolet;
    border-radius: 80px;
}
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
table th {
    background: MediumOrchid;
    color: MintCream;
    text-transform: uppercase;
}

table tr:nth-child(even) {
    background-color: MintCream;
}

table tr:hover {
    background: linear-gradient(to bottom, #cc66ff 0%, #ffffff 100%);
}
table td a {
    text-decoration: none;
    color: #ff0066;
    font-weight: bold;
}
table td a:hover {
    text-decoration: underline;
}
button {
    padding: 10px 15px;
    margin-bottom: 15px;
    color: black;
    background-color:Violet;
    text-transform: uppercase;
}
.correct {
    color: green;
    font-weight: bold;
}
.incorrect {
    color: red;
    font-weight: bold;
}